* {
    box-sizing: border-box;
    margin: 0 0 0 0;
}

body {
    margin: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

body div {
    display: flex;
}

#toolbarArea {
    display: flex;
    flex-direction: column;
    width: 30%; 
}

#gridArea {
    min-width: 80%;
}

.container {
    display: flex;
    border: 1px solid black;
}

.gridColumn {
    border: 1px solid black;
}