* {
    box-sizing: border-box;
    margin: 0 0 0 0;
}

body {
    margin: 1em;
    padding: 4em;
    display: flex;
    flex-direction: column;
}

body h1 {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 1em;
}

body #sketchArea {
    display: flex;

}

#sketchArea #toolbarArea {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex: 0.3 3 20%;
}

#toolbarArea .toolbarDiv {
    border: 1px solid green;
    font-size: 2rem;
    width: 50%;
}

#sketchArea #gridArea {
    flex: 4 0 auto;
    display: flex;
    height: 40em;
    border: 1px solid red;
}

#sketchArea #gridArea #container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.gridRow {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gridColumn {
    
    flex-grow: 1;
}
